.middleSliderWrap .btnInscWrap .btnInsc {
    font-size: 25px;
}

.dudasMainWrap {
    .dudasTitleWrap {
        .titleWrap {
            width: 320px;
            .dudas {
                font-size: 60px;
            }
            .resuelve {
                font-size: 30px;
            }
        }
        .subtitleWrap {
            .conoce,
            .saber {
                font-size: 20px;
            }
        }
    }
    .dudasWrap {
        .dudasWrapper {
            .duda {
                .dudaTitle {
                    font-size: 20px;
                }
                .dudaRespWrap {
                    .dudaResp {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.map {
    min-height: 400px;
}