.mainWrap {
	background-color: black;
	background-image: url('../img/back.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
	width: 100%;
	height: auto;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.mapWrap {
	width: 100%;
	max-height: 500px;
	max-width: 1400px;
	background-color: rgba(0, 0, 0, 0.4);
	display: inline-block;
	margin: 0 auto;
	background-clip: content-box;
	padding: 0 5%;
}

.map {
	height: 100%;
	width: 100%;
	min-height: 500px;
}

.middleSliderWrap {
	display: inline-block;
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
	.middleSlider {
		margin-top: 50px;
		.middleSliderWrapper {
			display: block;
			position: relative;
			width: 60%;
			margin: 0 20% 50px;
			height: 100%;
			border: 2px solid #ffb612;
		}
		.slick-next,
		.slick-prev {
			position: absolute;
			background-color: transparent;
			border: none;
			color: transparent;
			top: 50%;
			margin-top: -33px;
			width: 39px;
			height: 66px;
			background-image: url('../img/flecha_slider_big.png');
			background-repeat: no-repeat;
			padding: 0;
			z-index: 999;
			&.slick-disabled {
				background-image: url('../img/flecha_slider_big.png');
			}
		}
		.slick-next {
			background-position: -87px center;
			right: -50px;
		}
		.slick-prev {
			background-position: 0px center;
			left: -50px;
		}
		.slick-dots {
			position: absolute;
			padding: 0;
			margin: 0;
			left: 50%;
			width: 260px;
			margin-left: -130px;
			background-color: rgba(100, 100, 100, 0.7);
			padding: 5px;
			border-radius: 15px;
			bottom: -40px;
			li {
				margin-left: 0;
				margin-right: 5px;
				button {
					border: 3px solid #fff;
					background: transparent;
					width: 4px;
					height: 4px;
					padding: 4px;
				}
				&.slick-active button {
					background: #fff;
				}
			}
		}
	}
	.btnInscWrap {
		width: 100%;
		display: inline-block;
		text-align: center;
		margin: 50px auto;
		.btnInsc {
			display: inline-block;
			padding: 15px 20px;
			background-color: #A3141B;
			font-family: 'FuturaStdMedium';
			font-weight: bold;
			color: #fff;
			font-size: 40px;
			border: 0;
			margin: 0 auto;
			text-decoration: none;
		}
	}
}

.titleWrap.mapTitle {
	font-style: italic;
	margin: 10% auto 25px;
	text-align: center;
	.sede {
		color: #ffb612;
		font-size: 35px;
		font-family: 'FuturaStdBold';
	}
	span {
		display: inline-block;
		vertical-align: middle;
	}
}

.dudasMainWrap {
	background-image: url('../img/back_dudas.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin: 0 auto;
	margin-top: -500px;
	width: 100%;
	text-align: center;
	.dudasTitleWrap {
		width: 90%;
		margin: 0 5%;
		padding-top: 500px;
		max-width: 1400px;
		.titleWrap {
			font-style: italic;
			text-align: left;
			display: inline-block;
			width: 800px;
			.resuelve {
				color: #ffb612;
				font-size: 55px;
				font-family: 'FuturaStdMedium';
				padding-left: 30px;
			}
			.dudas {
				font-family: 'FuturaStdMedium';
				font-weight: bold;
				color: #fff;
				font-size: 150px;
				width: 100%;
				text-align: center;
				display: inline-block;
			}
		}
		.subtitleWrap {
			font-style: italic;
			.conoce {
				color: #ffb612;
				font-size: 25px;
				font-family: 'FuturaStdMedium';
			}
			.saber {
				font-family: 'FuturaStdMedium';
				font-weight: bold;
				color: #fff;
				font-size: 25px;
			}
		}
	}
	.dudasWrap {
		width: 100%;
		max-width: 1400px;
		display: inline-block;
		margin: 70px auto;
		.dudasWrapper {
			width: 80%;
			margin: 0 10%;
			.duda {
				display: table;
				vertical-align: middle;
				width: 100%;
				margin: 50px auto;
				position: relative;
				.dudaTitle {
					display: table-cell;
					width: 100%;
					height: auto;
					min-height: 110px;
					font-family: 'FuturaStdMedium';
					font-weight: bold;
					color: #fff;
					font-size: 28px;
					border-left: 5px solid #ffb612;
					text-align: left;
					padding: 1% 5%;
					padding-right: 50px;
					vertical-align: middle;
					text-align: left;
					position: relative;
					text-transform: uppercase;
					cursor: pointer;
					&:after {
						content: '';
						position: absolute;
						top: 50%;
						right: 15px;
						width: 24px;
						height: 16px;
						margin-top: -8px;
						background-image: url('../img/arrows-accordeon.png');
						background-position: 0 0;
						background-repeat: no-repeat;
					}
				}
				.dudaRespWrap {
					display: none;
					.dudaResp {
						width: 100%;
						height: auto;
						font-family: 'FuturaStdBook';
						color: #fff;
						font-size: 25px;
						text-align: left;
						padding: 2% 5% 5% 5%;
						display: table-cell;
					}
				}
				&.open {
					.dudaTitle {
						color: #000;
						background-color: #ffb612;
						&:after {
							background-position: 0 -20px;
						}
					}
					.dudaRespWrap {
						display: table-row;
						-webkit-animation-name: accorEnterAnimate;
						-webkit-animation-timing-function: ease;
						animation-duration: 0.5s;
						/* Safari 4.0 - 8.0 */
						animation-name: accorEnterAnimate;
						animation-timing-function: ease;
						animation-duration: 0.5s;
					}
				}
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 10px;
					bottom: -20px;
					left: 0;
					background-image: url('../img/line-footer.png');
					background-position: center top;
					background-repeat: no-repeat;
					background-size: 100% auto;
				}
			}
		}
	}
}


/*Animation Enter Accordion */

@-webkit-keyframes accorEnterAnimate {
	0% {
		transform: scaleY(0);
		transform-origin: top;
	}
	100% {
		transform: scaleY(1);
		transform-origin: top;
	}
}

@keyframes accorEnterAnimate {
	0% {
		transform: scaleY(0);
		transform-origin: top;
	}
	100% {
		transform: scaleY(1);
		transform-origin: top;
	}
}


/*Animation Leave Accordion */

@-webkit-keyframes accorLeaveAnimate {
	0% {
		transform: scaleY(1);
		transform-origin: top;
	}
	100% {
		transform: scaleY(0);
		transform-origin: top;
	}
}

@keyframes accorLeaveAnimate {
	0% {
		transform: scaleY(1);
		transform-origin: top;
	}
	100% {
		transform: scaleY(0);
		transform-origin: top;
	}
}