.franjaAmarilla {
	background-color: #fdb825;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 33px;
}

.btnEspacio{
	background-color: #F5A21E;
    height: 100%;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: white;
    padding: 7px 4px;
	margin-right: 33px;
	cursor: pointer;
	.icoUser{
		background: url('../img/ico-user-white.png') no-repeat center;
		width: 39px;
		margin-top: -5px;
    	height: 32px;
		float: left;
	}
	&:hover{
		color: black;	
		.icoUser{
		background: url('../img/ico-user-black.png') no-repeat center;	
		}
	}
}

.franjaGris {
	background-color: #e9e5dc;
	position: absolute;
	top: 22px;
	width: 100%;
	height: 70px;
}

.min238 {
	min-width: 246px;
}

.containerLogo {
	z-index: 1;
	width: 222px;
	height: 116px;
	position: relative;
	background-color: #000;
	.logo {
		background-image: url('../img/logo.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 189px;
		height: 98px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -93px;
		margin-top: -45px;
	}
}

.textoHeader {
	color: #9d9d9c;
	font-size: 16px;
	text-align: left;
	margin-top: 44px;
}


/* Section form*/

.formSliderWrap {
	width: 100%;
	background-color: black;
	height: auto;
	position: relative;
	margin-top: -25px;
	text-align: center;
	height: 520px;
	.formSliderWrapper {
		width: 100%;
		position: relative;
		display: inline-block;
		text-align: center;
		position: relative;
		max-width: 1400px;
		height: 520px;
	}
}

.headSlider,
.formWrap {
	height: 520px;
	max-width: 1400px;
	width: 100%;
	display: inline-block;
}

.formWrap {
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: -25px;
}

.formWrapper {
	width: 100%;
	height: 100%;
	padding: 0 60px;
	.titleDescWrap {
		width: 70%;
		float: left;
		.titleWrap {
			font-style: italic;
			margin-top: 80px;
			text-align: left;
			.plan {
				color: #fff;
				font-size: 50px;
				margin-bottom: -20px;
				font-family: 'FuturaStdBook';
				padding-left: 20px;
				width: 100%;
			}
			.black {
				color: #ffb612;
				font-size: 100px;
				font-family: 'FuturaStdBold';
			}
			.corpo {
				min-width: 350px;
				color: #fff;
				font-size: 50px;
				font-family: 'FuturaStdMedium';
			}
			.descTitle {
				font-family: 'FuturaStdBook';
				color: #fff;
				font-size: 22px;
			}
			.title {
				color: #ffb612;
				font-size: 35px;
				font-family: 'FuturaStdHeavy';
				margin: 0px 0 20px;
				text-transform: uppercase;
			}
			span {
				display: inline-block;
				vertical-align: middle;
			}
			&.text {
				padding: 0 15px;
			}
		}
	}
	.titleimgWrap {
		width: 35%;
		float: left;
	}
	.formCont {
		width: 30%;
		float: right;
		margin-top: 45px;
	}
	&.slider {
		position: relative;
		height: 520px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		&.First {
			background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_9.jpg');
			background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_9.jpg');
			background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_9.jpg');
			background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_9.jpg');
		}
		&.Second {
			background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_4.jpg');
			background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_4.jpg');
			background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_4.jpg');
			background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_4.jpg');
		}
		&.Thirth {
			background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_6.jpg');
			background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_6.jpg');
			background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_6.jpg');
			background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_6.jpg');
		}
		&.Fouth {
			background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_8.jpg');
			background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_8.jpg');
			background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_8.jpg');
			background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_8.jpg');
		}
		&.Fifth {
			background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_10.jpg');
			background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_10.jpg');
			background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_10.jpg');
			background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_10.jpg');
		}
		&.Sixth {
			background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_1.jpg');
			background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_1.jpg');
			background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_1.jpg');
			background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_1.jpg');
		}
		&.Seventh {
			background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_2.jpg');
			background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_2.jpg');
			background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_2.jpg');
			background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_2.jpg');
		}
		&.Eighth {
			background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_3.jpg');
			background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_3.jpg');
			background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_3.jpg');
			background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.99)), url('../img/galeria/img_3.jpg');
		}
	}
	&.slider:not(.First) {
		.titleDescWrap {
			width: 34%;
			display: inline-block;
			vertical-align: top;
			padding: 2%;
			.plan {
				font-size: 30px;
				font-family: 'FuturaStdHeavy';
				text-transform: uppercase;
				margin: 0;
				padding: 0;
			}
		}
		.titleimgWrap {
			width: 34%;
			display: inline-block;
			vertical-align: top;
			padding: 2%;
			img {
				width: 100%;
				height: auto;
				margin: 0;
				display: inline-block;
				padding: 0;
				margin-top: 30px;
			}
		}
		.noImgTitle.titleDescWrap {
			width: 70%;
		}
	}
}

.headSlider {
	margin-top: -25px;
	.headSliderWrapper {
		display: block;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
	.slick-next,
	.slick-prev {
		position: absolute;
		background-color: transparent;
		border: none;
		color: transparent;
		top: 50%;
		margin-top: -33px;
		width: 39px;
		height: 66px;
		background-image: url('../img/flecha_slider_big.png');
		background-repeat: no-repeat;
		padding: 0;
		z-index: 999;
		&.slick-disabled {
			background-image: url('../img/flecha_slider_off_big.png');
		}
	}
	.slick-next {
		background-position: -87px center;
		right: 5px;
	}
	.slick-prev {
		background-position: 0px center;
		left: 5px;
	}
	.slick-dots {
		position: absolute;
		bottom: 5px;
		padding: 0;
		margin: 0;
		left: 50%;
		width: 170px;
		margin-left: -85px;
		li {
			margin-left: 0;
			margin-right: 5px;
			button {
				border: 3px solid #f8b503;
				background: transparent;
				width: 4px;
				height: 4px;
				padding: 4px;
			}
			&.slick-active button {
				background: #f8b503;
			}
		}
	}
}

.titleInsc {
	color: #ffb612;
	font-size: 45px;
	font-family: 'FuturaStdMedium';
	font-weight: bold;
	position: relative;
	margin-bottom: 50px;
	&:before {
		content: '';
		position: absolute;
		bottom: -30px;
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #ffb612;
		left: 50%;
		margin-left: -20px;
	}
}

.formInsc {
	display: inline-block;
	text-align: center;
	width: 100%;
	.inputWrap,
	.selectWrap,
	.btnWrap {
		display: inline-block;
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
		position: relative;
		font-size: 18px;
	}
	.inputProm {
		font-family: 'FuturaStdBook';
		color: #303030;
		width: 100%;
		font-size: 18px;
		width: 100%;
		padding: 5px 10px;
		&.labelProm {
			position: absolute;
			top: 0;
			left: 0;
			font-weight: normal;
			text-align: left;
		}
		&:focus {
			border: 1px solid #A3141B;
		}
	}
	.inputWrap input:focus+.labelProm,
	.inputWrap input[required]:valid+.labelProm,
	.inputWrap input.not-empty+.labelProm {
		display: none;
	}
	.city,
	.sede {
		font-family: 'FuturaStdBook';
		color: #303030;
		padding: 5px 10px;
		width: 100%;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-image: url('../img/select-custom.png');
		background-position: right center;
		background-repeat: no-repeat;
		&:focus {
			border: 1px solid #A3141B;
		}
	}
	.btnWrap {
		text-align: center;
		.btnSend {
			display: inline-block;
			padding: 15px 20px;
			background-color: #A3141B;
			font-family: 'FuturaStdBook';
			color: #fff;
			font-size: 25px;
			border: 0;
			&:hover {
				background-color: #86090f;
				-webkit-transform: scale(1.02);
				-moz-transform: scale(1.02);
				-ms-transform: scale(1.02);
				-o-transform: scale(1.02);
				transform: scale(1.02);
				-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.45);
				-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.45);
				-ms-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.45);
				-o-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.45);
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.45);
			}
			&:focus,
			&:hover {
				text-decoration: none;
				color: #FFF;
				outline: none;
			}
		}
	}
	.lnkToMap {
		display: inline-block;
		color: #fdb825;
		border: 2px solid #f8b503;
		font-family: 'FuturaStdBook';
		font-size: 24px;
		padding: 12px 10px;
		.lnkText {
			display: inline-block;
			padding-right: 24px;
			background-image: url('../img/arrow-down.png');
			background-position: right center;
			background-repeat: no-repeat;
			background-size: 17px auto;
		}
		&:hover{
			text-decoration: underline;
		}
	}
}

.slick-dots {
	width: 100%;
	z-index: 20;
	margin: 0 auto;
	max-width: 260px;
	margin-top: 16px;
	position: relative;
	li {
		float: left;
		margin-left: 3%;
		list-style: none;
	}
	button {
		outline: none;
		font-size: 0;
		line-height: 0;
		display: block;
		width: 9px;
		height: 9px;
		padding: 5px;
		cursor: pointer;
		color: transparent;
		border: 0;
		outline: none;
		border: 0;
		background: #dbdbdb;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		z-index: 20;
	}
}

.slick-active {
	button {
		background: #f8b503;
	}
}

.descWrap {
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-top: 20px;
	.inscrWrapper,
	.monthlyWrapper,
	.manAnWrapper {
		display: inline-block;
		width: 29%;
		margin: 0 1%;
		padding: 0;
		vertical-align: top;
		max-width: 245px;
		span {
			width: 100%;
			display: inline-block;
			text-align: center;
			line-height: 1;
		}
	}
	.inscrWrapper {
		.inscr,
		.ahorro {
			color: #ffb612;
			font-size: 30px;
			font-family: 'FuturaStdMedium';
			font-weight: bold;
		}
		.inscr {
			margin-bottom: 25px;
			margin-top: 20px;
		}
		.price {
			font-family: 'FuturaStdBold';
			color: #fff;
			font-size: 54px;
			margin-bottom: 15px;
		}
		.ahorPrice {
			font-family: 'FuturaStdBold';
			color: #fff;
			font-size: 35px;
		}
	}
	.monthlyWrapper {
		width: 34%;
		margin: 0;
		.monthly {
			color: #ffb612;
			font-size: 30px;
			font-family: 'FuturaStdMedium';
			font-weight: bold;
			margin-bottom: 25px;
			margin-top: 20px;
		}
		.price {
			font-family: 'FuturaStdBold';
			color: #fff;
			font-size: 54px;
		}
	}
	.manAnWrapper {
		.manAn,
		.ahorro {
			color: #ffb612;
			font-size: 30px;
			font-family: 'FuturaStdMedium';
			font-weight: bold;
		}
		.manAn {
			margin-bottom: 15px;
		}
		.price {
			font-family: 'FuturaStdBold';
			color: #fff;
			font-size: 54px;
			margin-bottom: 15px;
		}
		.ahorPrice {
			font-family: 'FuturaStdBold';
			color: #fff;
			font-size: 35px;
		}
	}
}