.formWrapper {
    .titleDescWrap {
        .titleWrap {
            .plan {
                color: #fff;
                font-size: 30px;
                margin-bottom: -20px;
                font-family: 'FuturaStdBook';
                padding-left: 20px;
                width: 100%;
            }
            .black {
                color: #ffb612;
                font-size: 70px;
                font-family: 'FuturaStdBold';
            }
            .corpo {
                min-width: 350px;
                color: #fff;
                font-size: 30px;
                font-family: 'FuturaStdMedium';
            }
        }
    }
}

.formWrapper.slider:not(.First) {
    .titleDescWrap {
        width: 100%;
        .plan {
            font-size: 25px;
        }
        .titleWrap {
            margin-top: 0px;
            .title {
                font-size: 25px;
                margin: 0px 0 10px;
            }
            .descTitle {
                font-size: 15px;
            }
        }
    }
    .titleimgWrap {
        width: 100%;
        display: inline-block;
        text-align: center;
        img {
            margin: 0 auto;
            margin-top: 50px;
            width: auto;
            height: 180px;
        }
    }
    .noImgTitle.titleDescWrap {
        margin-top: 50px;
    }
}

.descWrap {
    margin-top: 0px;
    .inscrWrapper,
    .monthlyWrapper,
    .manAnWrapper {
        width: 100%;
        max-width: 100%;
        span {
            width: auto;
            vertical-align: top;
        }
    }
    .inscrWrapper {
        margin-top: 20px;
        .inscr {
            margin-top: 6px;
            margin-bottom: 5px;
            width: 49%;
            text-align: right;
        }
        .price {
            margin-bottom: 10px;
            width: 80px;
            width: 49%;
            text-align: left;
        }
        .ahorro {
            width: 49%;
            text-align: right;
        }
        .ahorPrice {
            font-family: 'FuturaStdBold';
            color: #fff;
            font-size: 25px;
            width: 49%;
            text-align: left;
        }
    }
    .monthlyWrapper {
        margin: 0;
        .monthly {
            margin-bottom: 10px;
            margin-top: 35px;
            width: 49%;
            text-align: right;
        }
        .price {
            width: 49%;
            text-align: left;
            margin-top: 35px;
        }
    }
    .manAnWrapper {
        .manAn {
            margin-bottom: 10px;
            margin-top: 25px;
            width: 49%;
            text-align: right;
            font-size: 18px;
        }
        .price {
            margin-bottom: 10px;
            width: 49%;
            text-align: left;
            margin-top: 25px;
        }
        .ahorro {
            width: 49%;
            text-align: right;
        }
        .ahorPrice {
            width: 49%;
            text-align: left;
        }
    }
}

.formSliderWrap {
    .formSliderWrapper {
        height: 475px;
        .headSlider {
            height: 475px;
            .formWrapper.slider {
                height: 475px;
            }
        }
    }
}

.formInsc .inputProm,
.formInsc .city,
.formInsc .sede {
    font-size: 15px;
}