.formSliderWrap {
    height: auto;
    .formSliderWrapper {
        height: auto;
    }
}

.formWrap {
    position: relative;
    height: 500px;
}

.formWrapper {
    padding: 0 45px;
    .titleDescWrap {
        width: 100%;
        .titleWrap {
            font-style: italic;
            margin-top: 45px;
            text-align: left;
            .descTitle {
                font-size: 20px;
            }
            .title {
                font-size: 35px;
            }
        }
    }
    .formCont {
        width: 100%;
        float: left;
        margin-top: 50px;
    }
}

.formWrapper.slider:not(.First) {
    .titleDescWrap {
        width: 49%;
    }
    .titleimgWrap {
        width: 49%;
    }
    .noImgTitle.titleDescWrap {
        width: 100%;
    }
}

.formInsc .lnkToMap {
    margin-top: 10px;
}