body {
	overflow-x: hidden;
	background-color: black;
}

a:hover {
	text-decoration: none;
}

.width1180,
.width1180HD {
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.width1300 {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.clear,
.clearTwo,
.clearFive {
	position: relative;
	width: 100%;
	height: 10px;
}

.clearTwo {
	height: 20px;
}

.clearFive {
	height: 30px;
}

.marginCero {
	margin: 0px;
}

.paddingCero {
	padding: 0px;
}

.relative {
	position: relative;
}

.pointer {
	cursor: pointer;
}

.textCenter {
	text-align: center;
}

.openSans {
	font-family: 'Open Sans', sans-serif;
}

.openSansSemiBold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.openSansBold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.openSansExtraBold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

.futuraStdMedium {
	font-family: 'FuturaStdMedium';
}

.futuraStdBold {
	font-family: 'FuturaStdBold';
}

.futuraStdBook {
	font-family: 'FuturaStdBook';
}

p,
h1,
h2,
h3,
h4 {
	margin: 0;
}

.botonRojo {
	font-family: 'FuturaStdBold';
	-webkit-border-radius: 5px;
	background-color: #b51118;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	font-size: 23px;
	color: #fff;
	border: none;
	outline: none;
	text-align: center;
	&:hover {
		-webkit-transform: scale(1.02);
		-moz-transform: scale(1.02);
		-ms-transform: scale(1.02);
		-o-transform: scale(1.02);
		transform: scale(1.02);
		-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.45);
		-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.45);
		-ms-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.45);
		-o-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.45);
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.45);
	}
}

.mylabel {
	font-family: 'FuturaStdMedium';
	color: #fff;
	max-width: 200px;
	padding-right: 30px;
	width: 100%;
}

.titleSede {
	font-size: 20px;
	color: #f9b418;
	width: 100%;
	font-family: 'FuturaStdBook';
	display: inline-block;
}