<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
         <!-- CONFIGURACION DATA-SOURCE -->
        <property name="hibernate.connection.datasource">java:jboss/datasources/smartfitDS</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <!-- hibernate c3p0 connection pooling configuration -->
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">1800</property>
        <property name="hibernate.c3p0.max_statements">10</property>
        <property name="hibernate.c3p0.timeout">900</property>
		
        <mapping resource="co/com/smartfit/web/entities/TipoDocumentoIdentidad.hbm.xml" />
        <mapping resource="co/com/smartfit/web/entities/Users.hbm.xml" />
        <mapping resource="co/com/smartfit/web/entities/UserRoles.hbm.xml" />
        <mapping resource="co/com/smartfit/web/entities/EmpresaEmpleador.hbm.xml" />
        <mapping resource="co/com/smartfit/web/entities/EmpresaAfiliado.hbm.xml" />
        <mapping resource="co/com/smartfit/web/entities/Membresia.hbm.xml" />
        <mapping resource="co/com/smartfit/web/entities/CodigoDescuento.hbm.xml" />
        <mapping resource="co/com/smartfit/web/entities/EmpresaAfiliadoXCodigoDescuento.hbm.xml" />
        <mapping resource="co/com/smartfit/web/entities/EmpresaEmpleadorXPlan.hbm.xml" />
        <mapping resource="co/com/smartfit/web/entities/Planes.hbm.xml" />
        <mapping resource="co/com/smartfit/web/entities/PlanesEmpresa.hbm.xml" />
        <mapping resource="co/com/smartfit/web/entities/CantidadCodigosPorPlan.hbm.xml" />
    </session-factory>
</hibernate-configuration>
