.textFooter {
	text-align: center;
}

.textFooter {
	width: 100%;
	color: white;
}

.textFooter p {
	font-size: 40px;
	display: inline-block;
	margin: 10px auto;
	font-family: 'SansationRegular';
}

.textFooter img {
	width: 210px;
}